name: Regenerate README

on:
  schedule:
    - cron: '27 04 * * 1'
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '>=1.21.6'

      - name: Run Generator
        run: go run generate.go

      - name: Replace README.md
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update README"
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
